/* NAVIGATION BAR STYLE*/
#navbar {
	background-color: #9dc4f2;
	height: 3cm;
	position: absolute;
	width: 100%;
}
#menu {
	padding: 1cm;
	margin-left: 105px;
}

#icon {
	float: left;
	position: center;
	padding-top: 5px;
}

#icon:hover {
	transform: scale(0.8);
}

.items {
	display: inline-block;
	padding-right: 2cm;
}

.pagelinks {
	display: inline-block;
	text-decoration:none;
	color: black;
	font-size: 24px;
	font-family: 'Kanit', sans-serif;
	position: right;
}

.pagelinks:hover {
	color: #F26322;
	border-style:solid;
}
/*###########################*/

.bullets {   /*IMAGE*/
	height: 100px;
}

.pagelink {
	font-size:60px;
	text-decoration: none;
	color: black;
	padding-left: 30px;
	position: fixed;
	font-family: 'Kanit', sans-serif;
}

#bigcontainer {
	margin-left: 500px;
	display: inline-table
}

.container {

	
}
/*
.container {
	padding-bottom: 100px;
	margin-left:500px;
	height: 100px;
}
*/

*:hover { 
   outline:1px blue solid;
 } 
 