.item {
    font-size: 38px;
    font-family: 'Oswald', sans-serif;
    width: 8cm;
    max-width:7.5cm;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: solid 4px #59CCB8;
}

#menuholder {
    margin-top: 1cm;
    /*background-color:#59CCB8;*/
    width: 8cm;
    max-width:8cm;
    border: solid 4px #59CCB8;
    
}

body {
    background-color: #72CCBE;
}

/*.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
    background:white;
    border-bottom:;
    font-size:34px;
    width:8cm;
    max-width:8cm;
  /*background-color: ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
     font-family: 'Oswald', sans-serif;
    border-bottom: solid 2px #59CCB8;
    border-right: solid 2px #59CCB8;
}

.dropbtn {
    background: none;
    font-size: 38px;
    font-family: 'Oswald', sans-serif;
    width: 8cm;        
    max-width:7.5cm;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: solid 4px #59CCB8;  
    background-color:#72CCBE;
    pointer-events:none;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #59CCB8;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #59CCB8;}